.node {
    
    &.nestedNode {
        background: gray;

       
    }

    

    .TopBar{
        z-index: 200
    }

    .FreeFormCanvas{
        z-index: 1
    }
    

  

    

    


    
   

  

}