.nestedfreeformcanvas-container {
    position: absolute;
    //centering offsets
    top: 10;
    left: 0;
    //width and height adjusted for optimal viewport size for the nested canvas.
    width: 100%;
    height: 90%;
    overflow: hidden;
    background: lightgray;
    
    
    .nestedfreeformcanvas {
        position: absolute;
        top: 0;
        left: 0;
 

        
        
        
        
    }


    
    
}